<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/styles/layout.css">
        <title>Pathway</title>
    </head>
    <body>
        <div class="topnav">
	    <div class="logo">
                <img src="../static/images/logo.png" alt="Logo">
            </div>
            <a href="#" class="active">Home</a>
	    <a href="#">Send Parcel</a>
	    <a href="#">Deliver Parcel</a>
	</div>
	<div class="container">
	    <div class="sidebar">
                <div class="profile_pic">
		    <img class="profile-picture" src="../static/images/profile_pic.png" alt="Profile Picture">
		</divi>
		<div>
		    <a href="#">Profile</a>
		</div>
		<div>
		    <a href="#">Deliveries</a>
		</div>
		<div>
		    <a href="#">MY Parcels</a>
		</div>
		<div class="empty_space">
		</div>
		<div>
		    <a href="#">contact_us"</a>
		</div>
	    </div>
	    <div class="mainsection">
	    </div>
	</div>
    </body>
</html>
