{%  extends "layout.html" %}
{% block content %}
	<div class="feed-container">
                <div class="parcel-feed">
                        {% for parcel in found %}
                                <div class="parcel-block">
                                        <!-- Origin Block (Left) -->
                                        <div class="origin-dest">
                                                <strong>{{ parcel.origin }} ----- to ----> {{ parcel.destination }}</strong>
                                                <!--</div>-->

                                        <!-- Destination Block (Right) -->
                                        <!--<div class="destination-block">-->
                                                <!--<strong>{{ parcel.destination }}</strong>-->
                                        </div>

                                        <!-- Sizes Section -->
                                        <div class="sizes-section">
                                                <strong>Sizes:</strong>
                                                ({{ parcel.size_l_cm }} * {{ parcel.size_w_cm }} * {{ parcel.size_h_cm }})cm
                                        </div>

                                        <!-- Weight Section -->
                                        <div class="weight-amount">
                                                <strong>Weight:</strong>
                                                {{ parcel.weight_kg }}kg
                                        <!--</div>-->

                                        <!-- Amount Offered Section -->
                                        <!--<div class="amount-offered-section">-->
                                                <strong>Amount Offered:</strong>
                                                {{ parcel.offered_amount }}
                                        </div>
                                        <div class="sender">
                                                {% for user in users %}
                                                        {% if parcel.sender_id == user.id %}
                                                                <strong>{{ user.username }}</strong>
                                                        {% endif %}
                                                {% endfor %}
                                        </div>
                                </div>
                        {% endfor %}
                </div>
	</div>

{% endblock %}
